doctype html
html(lang=I18n.locale)
  head
    meta content="IE=edge" http-equiv="X-UA-Compatible" /
    meta charset="utf-8" /
    meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" /
    link href="/images/favicon.ico" rel=("shortcut icon") /

    meta name="description" content="Spécialisé dans la création de sites internet, d’applications web et de visuels graphiques pour entreprises et particuliers. The Web's Door propulse toute identité sur le web !" /
    meta name="author" content="Adrien Lepoutre" /

    meta property="og:title" content="The Web's Door" /
    meta property="og:description" content="Spécialisé dans la création de sites internet, d’applications web et de visuels graphiques pour entreprises et particuliers. The Web's Door propulse toute identité sur le web !" /
    meta property="fb:app_id" content="386568964690808" /

    meta property="og:image" content="http://thewebsdoor.fr/images/facebook.png" /
    
    /! Use title if it's in the page YAML frontmatter
    title= current_page.data.title || "The Web's Door"

    link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600italic,600,700,700italic,800italic,800,400italic|Roboto:400,400italic,300italic,300,700italic,700' rel='stylesheet' type='text/css' /

    /! Bootstrap
    = stylesheet_link_tag 'bootstrap'

    /! Stylesheets
    = stylesheet_link_tag 'owl-carousel/owl.carousel'
    = stylesheet_link_tag 'animate/animate'
    = stylesheet_link_tag '../fonts/fontello/css/fontello'
    = stylesheet_link_tag '../fonts/font-awesome/css/font-awesome.min'

    /! Main Stylesheet
    = stylesheet_link_tag 'style'

    script src="//fast.eager.io/jA5YB0bXj6.js"

body

  /! begin Header
  header.header-type.clearfix#top
    /! begin header inner
    .header-inner
      .container
        .row
          .col-xs-12.clearfix.topbar
            .logo.pull-left
              a href="/" 
                = image_tag 'logo.png'
            #trigger-mobile-nav
              i.fa.fa-bars
            nav#main-nav.main-nav.pull-right.clearfix.mobile-nav
              ul.nav
                li
                  a href="/#home" = t('nav.home')
                li
                  a href="/#about" = t('nav.about')
                li
                  a href="/#skills" = t('nav.skills')
                li
                  a href="/#works" = t('nav.works')
                li
                  a href="/#contact" = t('nav.contact')
                li
                  a href="http://blog.thewebsdoor.fr" = t('nav.blog')
    /! end header inner

    /! begin header box
    #header-box.header-box.font-white
      .header-box-inner.closed.no-delay
        .container
          .row
            .col-xs-12.col-md-6
              p
                = t('catchphrase.first')
                a href="#"  Adrien Lepoutre 
                = t('catchphrase.job')
            .col-xs-12.col-md-6
              h3 = t('follow_me')
              p
                - delay = 0.3
                - data.social.each do |social|
                  a.btn.btn-icon.btn-icon-white href=social.url target="_blank" title=social.title 
                    i.fontello class="social_icon-#{social.icon}"
                  - delay = delay + 0.3
        /! trigger for opening/closing the header box
        #header-close.header-box-trigger.trigger-light
          i.fa.fa-minus.fa-fw
      /! trigger for opening/closing the header box
      #header-open.header-box-trigger.no-delay
        i.fa.fa-plus.fa-fw
    /! end header box
  /! end Header
  
  = yield

  /! Begin Footer
  footer.footer-type#footer
    .copyright-banner
      .container#contentWeather
        .nuages_left
        .soleil style="display: block; left: 383px;"
        .lune style="display: none;"
        .nuages_right
    .container.text-center
      p.copyright.no-margin-bottom &copy; 2016 - Adrien Lepoutre (The Web's Door).
  /! // End Footer

  = javascript_include_tag 'jquery-1.11.0.min'
  = javascript_include_tag 'modernizr-2.7.1.min'
  = javascript_include_tag 'bootstrap.min'
  = javascript_include_tag 'plugins/jquery.easing'
  = javascript_include_tag 'plugins/imagesloaded'
  = javascript_include_tag 'plugins/jquery.touchSwipe.min'
  = javascript_include_tag 'plugins/owl.carousel.min'
  = javascript_include_tag 'plugins/jquery.diamondslider.min'
  = javascript_include_tag 'plugins/jquery.grafixesTabs'
  = javascript_include_tag 'plugins/jquery.parallax'
  = javascript_include_tag 'plugins/fluidvids'
  = javascript_include_tag 'plugins/jquery.appear'
  = javascript_include_tag 'plugins/jquery.scripts'
  = javascript_include_tag 'vinto'
  = javascript_include_tag 'suncalc'

  javascript:
      
    jQuery(function($) {

      var ageDifMs = Date.now() - new Date(1992, 9, 26);
      var ageDate = new Date(ageDifMs);
      var age = Math.abs(ageDate.getUTCFullYear() - 1970);
      if (age > parseInt($('#parallax-one .age').html())) {
        console.log("test");
        $('#parallax-one .age').html(Math.abs(ageDate.getUTCFullYear() - 1970));
      }

      var intervalScene = initScene();

      $(window).resize(function () {
        clearInterval(intervalScene);
        intervalScene = initScene(intervalScene);
      });

      //   ______   ______    ______    ______   ______    ______
      //  /\  ___\ /\  __ \  /\  __ \  /\__  _\ /\  ___\  /\  == \
      //  \ \  __\ \ \ \/\ \ \ \ \/\ \ \/_/\ \/ \ \  __\  \ \  __<
      //   \ \_\    \ \_____\ \ \_____\   \ \_\  \ \_____\ \ \_\ \_\
      //    \/_/     \/_____/  \/_____/    \/_/   \/_____/  \/_/ /_/
      //

      function setEnvironnement(ambiance, duration, remaining, contentWidth, soleilWidth, luneWidth) {
        if(ambiance == "jour") {
          $("#contentWeather").find(".fondu-left").remove();
          $("#contentWeather").find(".fondu-right").remove();
          $(".soleil").css("display", "block");
          $(".lune").css("display", "none");
          var posXSoleil = Math.ceil(((duration - remaining) / duration) * (contentWidth - soleilWidth));
          $(".soleil").css("left", posXSoleil+"px");
        }
        else if(ambiance == "soir" || ambiance == "matin") {
          $("#contentWeather").find(".fondu-left").remove();
          $("#contentWeather").find(".fondu-right").remove();
          if(ambiance == "soir") {
            var posXSoleil = contentWidth - soleilWidth;
            var posXLune = 0;
            var backgroundSoleil = Math.ceil(((duration - remaining) / duration) * soleilWidth);
            var backgroundLune = Math.ceil(((duration - remaining) / duration) * luneWidth) - luneWidth;
            $(".soleil").css("display", "block");
            $(".lune").css("display", "block");
          }
          else {
            var posXSoleil = 0;
            var posXLune = contentWidth - luneWidth;
            var backgroundSoleil = Math.ceil(((duration - remaining) / duration) * soleilWidth) - soleilWidth;
            var backgroundLune = Math.ceil(((duration - remaining) / duration) * luneWidth);
            $(".soleil").css("display", "block");
            $(".lune").css("display", "block");
          }
          $(".soleil").css("left", posXSoleil+"px");
          $(".soleil").css("background-position", backgroundSoleil+"px");
          $(".lune").css("left", posXLune+"px");
          $(".lune").css("background-position", backgroundLune+"px");
          $("#contentWeather").append('<div class="fondu-left"></div><div class="fondu-right"></div>');
        }
        else {
          $("#contentWeather").find(".fondu-left").remove();
          $("#contentWeather").find(".fondu-right").remove();
          $(".soleil").css("display", "none");
          $(".lune").css("display", "block");
            var posXLune = Math.ceil(((duration - remaining) / duration) * (contentWidth - luneWidth));
            $(".lune").css("left", posXLune+"px");  
        }

        switch(ambiance) {
          case 'jour':
            $(".copyright-banner").css("background", "#57b4f7");
          break;
          case 'soir':
            $(".copyright-banner").css("background", "#5081a2");
          break;
          case 'matin':
            $(".copyright-banner").css("background", "#5081a2");
          break;
          case 'nuit':
            $(".copyright-banner").css("background", "#0c2535");
          break;
        }
      }

      function initScene() {
        var times = SunCalc.getTimes(new Date(), 50.6329700, 3.0585800);

        var beginSunriseHours = times.sunrise.getHours() < 10 ? '0' + times.sunrise.getHours() : times.sunrise.getHours(),
            endSunriseHours = times.sunrise.getHours() < 9 ? '0' + (times.sunrise.getHours() + 1) : times.sunrise.getHours() + 1,
            beginSunsetHours = times.sunset.getHours() < 11 ? '0' + (times.sunset.getHours() - 1) : times.sunset.getHours() - 1,
            endSunsetHours = times.sunset.getHours() < 10 ? '0' + times.sunset.getHours() : times.sunset.getHours(),
            currentTime = Math.floor(Date.now() / 1000),
            beginSunrise = beginSunriseHours + ':' + times.sunrise.getMinutes(),
            endSunrise = endSunriseHours + ':' + times.sunrise.getMinutes(),
            beginSunset = beginSunsetHours + ':' + times.sunset.getMinutes(),
            endSunset = endSunsetHours + ':' + times.sunset.getMinutes(),
            contentWidth = $("#contentWeather").width() + 30,
            soleilWidth = 130,
            luneWidth = 122,
            ambiance = "jour",
            timeBeginSunrise = (times.sunrise.getHours() * 3600) + (times.sunrise.getMinutes() * 60),
            timeEndSunrise = ((times.sunrise.getHours() + 1) * 3600) + (times.sunrise.getMinutes() * 60),
            timeBeginSunset = ((times.sunset.getHours() - 1) * 3600) + (times.sunset.getMinutes() * 60),
            timeEndSunset = (times.sunset.getHours() * 3600) + (times.sunset.getMinutes() * 60);

        return setInterval(function() {

          currentTime++;
          var dt = new Date(currentTime * 1000);
            var hours = dt.getHours();
            var minutes = dt.getMinutes();
            var secondes = dt.getSeconds();
            if (hours < 10) hours = '0' + hours;
            if (minutes < 10) minutes = '0' + minutes;

            var currentDate = hours + ":" + minutes;
            var timeCurrentDate = (hours * 3600) + (minutes * 60) + secondes;

          if(currentDate >= beginSunset && currentDate < endSunset) {
            ambiance = "soir";
            var duration = 3600;
            var remaining = timeEndSunset - timeCurrentDate;
            setEnvironnement(ambiance, duration, remaining, contentWidth, soleilWidth, luneWidth);
          }
          else if(currentDate >= beginSunrise && currentDate < endSunrise) {
            ambiance = "matin";
            var duration = 3600;
            var remaining = timeEndSunrise - timeCurrentDate;
            setEnvironnement(ambiance, duration, remaining, contentWidth, soleilWidth, luneWidth);
          }
          else if(currentDate >= endSunrise && currentDate < beginSunset) {
            ambiance = "jour";
            var duration = timeBeginSunset - timeEndSunrise;
            var remaining = timeBeginSunset - timeCurrentDate;
            setEnvironnement(ambiance, duration, remaining, contentWidth, soleilWidth, luneWidth);
          }
          else {
            ambiance = "nuit";
            var duration = ((3600 * 24) - timeEndSunset) + timeBeginSunrise;
            if(currentDate >= endSunset && currentDate <= "24:00") {
              var remaining = ((3600 * 24) - timeCurrentDate) + timeBeginSunrise;
            }
            else {
              var remaining = timeBeginSunrise - timeCurrentDate;
            }
            setEnvironnement(ambiance, duration, remaining, contentWidth, soleilWidth, luneWidth);
          }

        }, 1000);
      }
    });

  javascript:

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50328591-5', 'auto');
    ga('send', 'pageview');
