$main-font: 'Montserrat';
$fallback-font: 'Open Sans';
$secondary-font: 'brandon-grotesque';

$white: #fff;
$black: #000;
$mountain-meadow: #16a085;
$dove-gray: #636363;
$scorpion: #5a5a5a;
$wild-sand: #f4f4f4;
$mercury: #e9e9e9;